<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Jenson Dialogue File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>art.indexingyourhe.jenson</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).jenson-document</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>iAWriterMonoV.ttf</string>
		<string>CrimsonText-Regular.ttf</string>
		<string>CrimsonText-Bold.ttf</string>
		<string>CrimsonText-Italic.ttf</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Jenson Dialogue File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>JensonFileTypeCenterImage</string>
				<key>UTTypeIconText</key>
				<string>Dialogue</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>art.indexingyourhe.jenson</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jenson</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
